@using MVCForum.Website.Application
@{
    Layout = "~/Views/Shared/_LayoutRightSideBar.cshtml";
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
}

@section side
{
    @Html.Partial("_CommonSideNav")
}

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-mvc">
            <div class="panel-heading">Скачать</div>
            <div class="panel-body">
                <p>
                    Здесь Вы можете скачать русскую версию форума MVCForum, работающего на ASP.NET MVC 5, а также файл перевода.
                </p>
                <p><a href="https://mvcforum.ru/thread/russian-version-of-mvcforum-installation/" class="btn-mvc-green btn-mvc-large">Скачать</a></p>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-mvc">
            <div class="panel-heading">Исходный код</div>
            <div class="panel-body">
                <p>
                    Исходный код локализованной версии MVCForum доступен на GitHub в виде форка от оригинального репозитария
                </p>
                <p><a href="https://github.com/aram-aramyan/mvcforum.ru" class="btn-mvc" target="_blank">GitHub</a></p>
            </div>
        </div>
    </div>
</div>

@(SiteConstants.Instance.CategoriesOnMain ? Html.Action("ListMainCategories", "Category") : Html.Action("LatestTopics", "Topic"))